      body{
        background: black;
      }
      header{
        background: url(/images/pic.png) no-repeat center/cover;
        padding: 40px 0 133px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

.logo {
position: absolute;
left: 0;
top: 0;
}
.header_title {
color: #DC56C5;
font-size: 50px;
text-align: center;

}
.header_find {
    backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.2);
border-radius: 20px;
width: 270px;
height: 40px;
border: none;
color: whitesmoke;
padding-left: 30px;
}
.header_find::placeholder{
    color: #939393
}

.main {
    display: flex;
    align-items: center;
}
.main-card {

}
.main-card-cards {
}
.main-card-cards__image {
}
.main-card-cards__name {
    color: #DC56C5;
    
}
.main-card-cards__date {
    color: white;
}
.main-card-cards__place {
    color: white;
    font-weight: 800;
}
